Kural Tabanlı Sınıflandırma

Gerekli Kütüphanelerin Yüklenmesi

In [189]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np

Çıktı Genişliğinin Ayarlanması

In [190]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',500)

Veri Setinin Yüklenmesi ve İncelenmesi

In [191]:
df = pd.read_csv('datasets/persona.csv')
df.head(10)
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

(5000, 5)

GÖREV 1

Kaç unique source vardır,frekansları nelerdir ?

In [192]:
df['SOURCE'].nunique()
df['SOURCE'].value_counts()

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

Kaç unique price vardır ?

In [193]:
df['PRICE'].nunique()

6

Hangi PRICE'dan kaçar tane satış gerçekleştirilmiştir ?

In [194]:
df['PRICE'].value_counts()

PRICE
29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: count, dtype: int64

Hangi Ülkeden kaçar tane satış gerçekleştirilmiştir ?

In [195]:
df['COUNTRY'].value_counts()

COUNTRY
usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: count, dtype: int64

Ülkelere göre Satışlardan toplam ne kadar kazanılmış ?

In [196]:
df.groupby('COUNTRY').agg({"PRICE" : "sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

SOURCE türlerine göre satış sayıları nedir ?

In [197]:
df.groupby('SOURCE').agg({"PRICE" : "count"})

         PRICE
SOURCE
android   2974
ios       2026

Ülkelere göre PRICE ortalamaları nedir ?

In [198]:
df.groupby("COUNTRY").agg({"PRICE" : "mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

SOURCE'lara göre PRICE ortalamaları nedir ?

In [199]:
df.groupby("SOURCE").agg({"PRICE" : "mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

COUNTRY - SOURCE kırılımında PRICE ortalamaları nedir ?

In [200]:
df.groupby(["COUNTRY","SOURCE"]).agg({"PRICE" : "mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

Görev 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?

In [201]:
agg_df = df.groupby(["SOURCE", "COUNTRY", "SEX" , "AGE"]).agg({"PRICE" : "mean"})
agg_df.head(5)

                                PRICE
SOURCE  COUNTRY SEX    AGE
android bra     female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897

Görev 3: Çıktıyı PRICE’a göre sıralayınız.

In [202]:
agg_df['PRICE'] = pd.to_numeric(agg_df['PRICE'], errors='coerce')
agg_df = agg_df.sort_values(by='PRICE', ascending=False)
agg_df.head(5)

                            PRICE
SOURCE  COUNTRY SEX    AGE
android bra     male   46    59.0
        fra     female 24    59.0
        usa     male   36    59.0
ios     usa     male   32    54.0
        deu     male   20    49.0

Görev 4: Indekste yer alan isimleri değişken ismine çeviriniz.

In [203]:
agg_df = agg_df.reset_index()
agg_df.head(5)

    SOURCE COUNTRY     SEX  AGE  PRICE
0  android     bra    male   46   59.0
1  android     fra  female   24   59.0
2  android     usa    male   36   59.0
3      ios     usa    male   32   54.0
4      ios     deu    male   20   49.0

Görev 5: Age değişkenini kategorik değişkene çeviriniz ve agg_df’e ekleyiniz.

In [204]:
bins = [0, 18, 23, 30, 40, agg_df['AGE'].max()]
labels = ["0-18","19-23","24-30","31-40", "41-" + str(df["AGE"].max())]
agg_df["AGE_CAT"] = pd.cut(df["AGE"] , bins = bins, labels = labels)
agg_df.head(20)

     SOURCE COUNTRY     SEX  AGE      PRICE AGE_CAT
0   android     bra    male   46  59.000000    0-18
1   android     fra  female   24  59.000000    0-18
2   android     usa    male   36  59.000000    0-18
3       ios     usa    male   32  54.000000    0-18
4       ios     deu    male   20  49.000000    0-18
5   android     deu  female   51  49.000000    0-18
6   android     usa  female   47  49.000000    0-18
7       ios     fra    male   20  49.000000    0-18
8   android     deu  female   36  49.000000    0-18
9       ios     usa    male   59  46.500000    0-18
10  android     deu    male   15  46.500000    0-18
11  android     usa  female   61  45.666667    0-18
12  android     bra  female   30  45.666667    0-18
13  android     deu    male   34  45.000000    0-18
14      ios     tur    male   24  45.000000    0-18
15      ios     bra  female   22  44.000000    0-18
16      ios     tur  female   18  44.000000    0-18
17  android     bra  female   43  44.000000   24-30
18  android     tur  female   32  43.000000   24-30
19  android     bra  female   39  43.000000   24-30

Görev 6: Yeni seviye tabanlı müşterileri (persona) tanımlayınız.

In [205]:
agg_df["customers_level_based"] = [row[0].upper() + "_" + row[1].upper() + "_" +  row[2].upper() + "_" + row[5].upper() for row in agg_df.values]
agg_df = agg_df[["customers_level_based", "PRICE"]]
agg_df.groupby("customers_level_based").agg({"PRICE": "mean"})
agg_df.head(5)

     customers_level_based  PRICE
0    ANDROID_BRA_MALE_0-18   59.0
1  ANDROID_FRA_FEMALE_0-18   59.0
2    ANDROID_USA_MALE_0-18   59.0
3        IOS_USA_MALE_0-18   54.0
4        IOS_DEU_MALE_0-18   49.0

Görev 7: Yeni müşterileri (personaları) segmentlere ayırınız.

In [ ]:
agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"] , 4 , labels = ["D", "C", "B", "A"])
agg_df.groupby("SEGMENT").agg({"PRICE" : ["mean","sum","max"]})
agg_df.head(5)

Görev 8: Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.

33 yaşında ANDROID kullanan bir Türk kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?

In [207]:
new_user = "ANDROID_TUR_FEMALE_31-40"
agg_df[agg_df["customers_level_based"] == new_user]

        customers_level_based  PRICE SEGMENT
267  ANDROID_TUR_FEMALE_31-40   31.0       D
333  ANDROID_TUR_FEMALE_31-40   24.0       D

35 yaşında IOS kullanan bir Fransız kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?

In [208]:
new_user = "IOS_FRA_FEMALE_31-40"
agg_df[agg_df["customers_level_based"] == new_user]

    customers_level_based  PRICE SEGMENT
208  IOS_FRA_FEMALE_31-40   33.0       C